In [1]:
import phyloGraph as ph

from plotly.offline import download_plotlyjs, init_notebook_mode
init_notebook_mode(connected=True)

#vim ~/.Plotly/.Credentials

## Load Data

In [2]:
pgd = ph.phyloData()

naw

Pick one of the methods below for getting data

### 1) fetch from Tree of Life

In [3]:
pgd.search_name("platy")

                                                  name      id
0                                          Monotremata   15991
1                                     Palaeoplatycerus   52389
2                                Platymantis guentheri   41154
3                                     Australoplatyola   63651
4                             Platydracus (Nesiolinus)   92538
5                          Platymantis sierramadrensis   50226
6                               Platymantis boulengeri   41148
7                                          Platypsaris   84077
8                                    Platynus megalops   67683
9                                         Platycholeus   29482
10                       Platydracus (Paraplatydracus)   92539
11                              Stenopsocus platynotus   32051
12                              Myopsocus platyvalvula   36493
13                                  Platymantis weberi   41177
14                           Psococerastis platytaenia   35575
15                                          Deroplatys   12588
16                             Platymantis negrosensis   50220
17                                   Dinema platysomum   97801
18                                       Platydesmidae   52785
19                                            Platyusa   64059
20                                        Platysomidae   68745
21                           Platycryptus californicus    5368
22                          Platydracus (Chaetodracus)   92536
23      Saemundssonia Saemundssonia platygaster balati   75572
24                                 Platypsaris validus   84081
25                               Isophanes platystigma   31085
26                         Ceratophyllum platyacanthum   20656
27                                        Platylesches   95227
28                              Platypsaris homochrous   84079
29                           Psococerastis platyraphis   35574
..                                                 ...     ...
285                                  Platynus decentis   67669
286                                        Platycercus   91492
287                           Platyrinchus cancrominus   84623
288  Saemundssonia Saemundssonia platygaster semivi...   75581
289                            Pterostichus (Platysma)   51939
290                                Platypthima placiva   88353
291  Saemundssonia Saemundssonia platygaster cordiceps   75573
292                              Platynus mannerheimii   67679
293                                       Asiodiplatys   10369
294                          Bembidion (Eurytrachelus)  131250
295                                        Platycopida    8038
296                         Pterostichus (Platypterus)   51976
297                      Platyprosopus (Platyprosopus)   65013
298                           Ornithorhynchus anatinus   16253
299                             Amazunculus platypodus   54691
300                                    Euplatyrhopalus   24852
301                                 Platymantis browni   50212
302                               Platynus tenuicollis   67674
303                                      Platygloeales   51278
304                             Deroplatys trigonodera   54058
305                                          Platynini     107
306                                Platymantis parkeri   41168
307                                 Platymantis rabori   50225
308                                      Platyprosopus   10248
309                                      Platyprosopus   10248
310                             Psococerastis platypis   35573
311                                 Platymantis mimula   50217
312                                      Platyastilbus   64058
313                                Deroplatys moultoni   54053
314   Saemundssonia Saemundssonia platygaster stenrami   75582

[315 rows x 2 columns]

In [4]:
pgd.fetch_tol_data(6451)

fetching http://tolweb.org/onlinecontributors/app?service=external&page=xml/TreeStructureService&node_id=6451
Fetched 54 lines. Parsing and assigning...
All done. 5 organisms fetched.

### 2) load from raw file

In [5]:
#raw_file = "data/primate_raw.xml"
#pgd.load_raw_file(raw_file)

In [6]:
#pgd.write_prep_data("data/primate_df.csv", "data/primate_links.txt")

### 3) load from prepared files

In [7]:
#pgd.load_prep_data("data/primate_df.csv", "data/primate_links.txt")

### return data for plotting

In [8]:
df, links_list = pgd.return_data()

## Plot Data

In [9]:
pgp = ph.phyloGraph(df, links_list)

In [10]:
#pgp.search_name('rrh')

In [11]:
pgp.create_plot_data(max_depth=30, max_nodes=50000)

/Users/Seth/Documents/tolGraph/phyloGraph.py:338: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Loaded plot data. Highlighting 6451

In [12]:
pgp.render_plot()
#pgp.render_plot(publish=True)

In [13]:
pgp.open_plot()