In [1]:
import phyloGraph as ph

from plotly.offline import download_plotlyjs, init_notebook_mode
init_notebook_mode(connected=True)

#vim ~/.Plotly/.Credentials

## Load Data

In [2]:
pgd = ph.phyloData()

the data of phylo

Pick one of the methods below for getting data

### 1) fetch from Tree of Life

In [3]:
#pgd.search_name("tetrapod")
pgd.search_name("primates")

       name     id
0  Primates  15963

In [4]:
pgd.fetch_tol_data(15963, limit=25000)

fetching http://tolweb.org/onlinecontributors/app?service=external&page=xml/TreeStructureService&node_id=15963 ..
Fetched 2472 lines. Parsing and assigning...
All done. 166 organisms fetched.

In [5]:
#pgd.add_time()
pgd.df.head()

,ancestor,depth,extinct,id,name,num_kids,phylesis,x,y
0,15997,1,0,15963,Primates,2,0,0.903182,0.085256
1,15963,2,0,16292,Platyrrhini,2,0,1.049297,0.057975
2,16292,3,0,16308,Callithrix,0,0,0.248419,0.944705
3,16292,3,0,16309,Cebuella,0,0,0.599989,-0.407552
4,16292,3,0,16310,Leontopithecus,0,0,0.224030,0.209079

### 2) load from raw file

In [6]:
#raw_file = "data/primate_raw.xml"
#pgd.load_raw_file(raw_file)

In [7]:
#pgd.write_prep_data("data/mammal_df.csv", "data/mammal_links.txt")

### 3) load from prepared files

In [8]:
#pgd.load_prep_data("data/mammal_df.csv", "data/mammal_links.txt")

### return data for plotting

In [9]:
df, links_list = pgd.return_data()
print(df.shape)
df.head()

(166, 9)

,ancestor,depth,extinct,id,name,num_kids,phylesis,x,y
0,15997,1,0,15963,Primates,2,0,0.903182,0.085256
1,15963,2,0,16292,Platyrrhini,2,0,1.049297,0.057975
2,16292,3,0,16308,Callithrix,0,0,0.248419,0.944705
3,16292,3,0,16309,Cebuella,0,0,0.599989,-0.407552
4,16292,3,0,16310,Leontopithecus,0,0,0.224030,0.209079

### hack: get rid of rows with no Begin time or too big Begin time

In [10]:
df.sort_values(by='Begin', ascending=False).head()

,ancestor,depth,extinct,id,name,num_kids,phylesis,x,y,Begin,End
11,15994,3,0,16242,Didelphimorphia,0,0,0.721509,-1.260807,7.0142e+16,1
2,15040,2,0,15991,Monotremata,2,0,1.309007,0.324513,1.06352e+16,0
0,14973,1,0,15040,Mammalia,2,0,0.748940,0.026095,225,0
1,15040,2,2,15989,Triconodonts,0,0,0.538394,0.233242,190,70
9,15040,2,2,15992,Multituberculata,0,0,0.648113,-0.572100,181,35

In [11]:
df = df.loc[df['Begin'].notnull()]
df = df.loc[df['Begin'] < 500]
print(df.shape)

(30, 11)

## Plot Data

In [10]:
pgp = ph.phyloGraph(df, links_list)

the plotting of phylo

In [11]:
pgp.search_name('Homo')

                name     id
44              Homo  16418
45      Homo sapiens  16421
46      Homo erectus  16422
47     Homo ergaster  16423
48  Homo rudolfensis  16424
49      Homo habilis  16425

In [12]:
#focus = 'all'
focus = 16418

In [13]:
#pgp.create_plot_data(max_depth=30, max_nodes=50000, highlight=focus, Z_dim='Begin', Z_dim_mult=1)
pgp.create_plot_data(max_depth=30, max_nodes=50000, highlight=focus, add_links=True)
#pgp.create_plot_data(max_depth=30, max_nodes=50000, highlight=focus)

/Users/Seth/Documents/tolGraph/phyloGraph.py:425: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Loaded plot data. Highlighting 16418

In [17]:
#pgp.plot_data
pgp.render_plot()
#pgp.render_plot(publish=True, filename="primates2")

In [13]:
#pgp.open_plot()