In [1]:
import phyloGraph as ph

from plotly.offline import download_plotlyjs, init_notebook_mode
init_notebook_mode(connected=True)

#vim ~/.Plotly/.Credentials

import requests
import collections
import json
import pandas as pd
import numpy as np
import re
import sys

import wikipedia
#https://stackoverflow.com/questions/8088226/content-of-infobox-of-wikipedia

In [16]:
GEO_TIME = "geological_time.csv"
gt = pd.read_csv(GEO_TIME)

def trynum(n):
    try:
        return float(n)
    except:
        return None

In [37]:
this_query = "Monotremata"
#def get_dates(this_query, gt):
"""gets the earliest and latest date for an organism
this_query - a text sting organism name
gt - the geological time dataframe
"""
try:
    # get wikipedia page
    this_page_id = wikipedia.search(this_query, results=1)[0]

    # fetch infobox
    wiki_url = 'http://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&format=json&titles={}&rvsection=0'.format(this_page_id)
    box_raw = json.loads(requests.get(wiki_url).content.decode('utf-8'))
    box = next(iter(box_raw['query']['pages'].values()))['revisions'][0]['*']

    # parse out fossil range
    fr = box.split("fossil_range")[1].split('\n')[0]
    useful = re.sub("[^A-Za-z0-9\.]+", " ", fr)
    useful = useful.replace("Late ","Late_").replace("Middle ","Middle_").replace("Early ", "Early_").split(" ")

    # try to get actual MYA times
    times = [trynum(n) for n in useful]
    times = [n for n in times if n is not None]
    if len(times) >= 2:
        output_dates = (max(times), min(times))
    else:
        # parse from periods
        dates = []
        for u in useful:
            ru = u.replace("Late_","").replace("Middle_","").replace("Early_", "")
            try:
                this_row = list(gt[gt['Period']==ru].iloc[0])
                if "Late_" in u:
                    this_dates = [this_row[2]]
                elif "Middle_" in u:
                    this_dates = [np.mean(this_row[1:3])]
                elif "Early_" in u:
                    this_dates = [this_row[1]]
                else:
                    this_dates = this_row[1:3]
                dates += this_dates
            except:
                pass
        output_dates = (max(dates), min(dates))
except:
    output_dates = (None, None)
print(output_dates)

(1.0635150701477824e+16, 0.0)

In [60]:
this_query = "Xiushuiaspis"
#def get_dates(this_query, gt):
"""gets the earliest and latest date for an organism
this_query - a text sting organism name
gt - the geological time dataframe
"""

# get wikipedia page
this_page_id = wikipedia.search(this_query, results=1)[0]

# fetch infobox
wiki_url = 'http://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&format=json&titles={}&rvsection=0'.format(this_page_id)
box_raw = json.loads(requests.get(wiki_url).content.decode('utf-8'))
box = next(iter(box_raw['query']['pages'].values()))['revisions'][0]['*']
box

'{{Automatic taxobox\n| fossil_range = [[Llandovery epoch|Llandovery]]<ref name="Sansom2015">{{cite journal | last1 = Sansom | first1 = Robert S. | last2 = Randle | first2 = Emma | last3 = Donoghue | first3 = Philip C. J. | date = February 7, 2015 | title = Discriminating signal from noise in the fossil record of early vertebrates reveals cryptic evolutionary history | journal = [[Proceedings of the Royal Society B]] | volume = 282 | issue = 1800 | page = 20142245 | doi = 10.1098/rspb.2014.2245 | pmid=25520359 | pmc=4298210}}</ref>&ndash;Early [[Devonian]], {{fossil range|439|400}}\n| image = Galeaspida_1.JPG\n| authority = Liu, 1965\n| subdivision_ranks = Orders\n| subdivision = \n[[Eugaleaspidiformes]] <small>Liu, 1965</small><br>\n[[Huananaspidiformes]] <small>Janvier, 1975</small><br>\n[[Polybranchiaspidiformes]] <small>Janvier, 1996</small>\n}}\n\'\'\'Galeaspida\'\'\' (from [[Latin]], "Helmet shields") is an extinct taxon of jawless marine and freshwater [[fish]]. The name is derived from \'\'galea\'\', the Latin word for \'\'helmet\'\', and refers to their massive bone shield on the head. Galeaspida lived in shallow, fresh water and marine environments during the [[Silurian]] and [[Devonian]] times (430 to 370 million years ago) in what is now Southern [[China]], [[Tibet]] and [[Vietnam]]. Superficially, their [[morphology (biology)|morphology]] appears more similar to that of [[Heterostraci]] than [[Osteostraci]], there being currently no evidence that the galeaspids had paired fins. However, Galeaspida are in fact regarded as being more closely related to Osteostraci, based on the closer similarity of the morphology of the [[braincase]].'

In [61]:
# parse out fossil range
fr = box.split("fossil_range")[-1].split('\n')[0]#.split('<ref>')[0].split('{{')[0]
print(fr)
useful = re.sub("[^A-Za-z0-9\.]+", " ", fr)
useful = useful.replace("Late ","Late_").replace("Middle ","Middle_").replace("Early ", "Early_").split(" ")
useful

 = [[Llandovery epoch|Llandovery]]<ref name="Sansom2015">{{cite journal | last1 = Sansom | first1 = Robert S. | last2 = Randle | first2 = Emma | last3 = Donoghue | first3 = Philip C. J. | date = February 7, 2015 | title = Discriminating signal from noise in the fossil record of early vertebrates reveals cryptic evolutionary history | journal = [[Proceedings of the Royal Society B]] | volume = 282 | issue = 1800 | page = 20142245 | doi = 10.1098/rspb.2014.2245 | pmid=25520359 | pmc=4298210}}</ref>&ndash;Early [[Devonian]], {{fossil range|439|400}}

['',
 'Llandovery',
 'epoch',
 'Llandovery',
 'ref',
 'name',
 'Sansom2015',
 'cite',
 'journal',
 'last1',
 'Sansom',
 'first1',
 'Robert',
 'S.',
 'last2',
 'Randle',
 'first2',
 'Emma',
 'last3',
 'Donoghue',
 'first3',
 'Philip',
 'C.',
 'J.',
 'date',
 'February',
 '7',
 '2015',
 'title',
 'Discriminating',
 'signal',
 'from',
 'noise',
 'in',
 'the',
 'fossil',
 'record',
 'of',
 'early',
 'vertebrates',
 'reveals',
 'cryptic',
 'evolutionary',
 'history',
 'journal',
 'Proceedings',
 'of',
 'the',
 'Royal',
 'Society',
 'B',
 'volume',
 '282',
 'issue',
 '1800',
 'page',
 '20142245',
 'doi',
 '10.1098',
 'rspb.2014.2245',
 'pmid',
 '25520359',
 'pmc',
 '4298210',
 'ref',
 'ndash',
 'Early_Devonian',
 'fossil',
 'range',
 '439',
 '400',
 '']

In [17]:
# try to get actual MYA times
times = [trynum(n) for n in useful]
times = [n for n in times if n is not None]
if len(times) >= 2:
    output_dates = (max(times), min(times))
else:
    # parse from periods
    dates = []
    for u in useful:
        ru = u.replace("Late_","").replace("Middle_","").replace("Early_", "")
        try:
            this_row = list(gt[gt['Period']==ru].iloc[0])
            if "Late_" in u:
                this_dates = [this_row[2]]
            elif "Middle_" in u:
                this_dates = [np.mean(this_row[1:3])]
            elif "Early_" in u:
                this_dates = [this_row[1]]
            else:
                this_dates = this_row[1:3]
            dates += this_dates
        except:
            pass
    output_dates = (max(dates), min(dates))

print(output_dates)

(419.19999999999999, 419.19999999999999)

In [51]:
df = pd.read_csv("data/Chordata-2499-df.csv")
df.head()

,ancestor,depth,extinct,id,name,num_kids,phylesis,x,y,Begin,End
0,2466,1,0,2499,Chordata,2,0,-0.794184,0.918448,558.0,0.0
1,2499,2,2,14819,Calcichordata,0,0,-0.091174,0.033661,NaN,NaN
2,2499,2,0,14821,Urochordata,8,0,-1.014761,0.366714,2012.0,0.0
3,14821,3,0,114489,Octacnemidae,0,0,-0.066112,-0.370996,NaN,NaN
4,14821,3,0,114490,Phlebobranchiata,4,0,-0.344893,-0.201929,NaN,NaN

In [52]:
df = df.loc[df['Begin'].notnull()]
#df = df.loc[df['Begin'] < 500]
print(df.shape)

(657, 11)

In [54]:
this_id = 15963

In [55]:
this_row = df[df['id'] == this_id]
this_row

,ancestor,depth,extinct,id,name,num_kids,phylesis,x,y,Begin,End
606,15997,12,0,15963,Primates,2,0,-5.165991,0.69956,55.0,0.0

In [56]:
list(this_row['ancestor'])

[15997]

In [58]:
links_dict = {}
for i, this_row in df.iterrows():
    # add parents
    parents = list(this_row['ancestor'])
    try:
        # add parents if the id already exists
        links_dict[this_id]['parents'] += parents
        # filter to only unique
        links_dict[this_id]['parents'] = list(set(links_dict[this_id]['parents']))
    except KeyError:
        # add this_id
        links_dict[this_id] = {}
        # add parent to this_id
        links_dict[this_id]['parents'] = parents
        links_dict[this_id]['children'] = []

    # add as child to parent node
    for parent in parents:
        try:
            # add as child if parent node already exists
            links_dict[parent]['children'].append(this_id)
        except KeyError:
            # if not, create parent node and add as child
            links_dict[parent] = {}
            links_dict[parent]['children'] = [this_id]
            links_dict[this_id]['parents'] = []

{'children': [], 'parents': [15997]}